<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeDemo"
        tools:targetApi="31">
        <activity
            android:name=".Chap52aComposeRoomDatabaseAndRepositoryTutorial"
            android:exported="true"
            android:label="@string/title_activity_chap52a_compose_room_database_and_repository_tutorial"
            android:theme="@style/Theme.ComposeDemo" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity
            android:name=".Chap51RoomDatabasesAndCompose"
            android:exported="false"
            android:label="@string/title_activity_chap51_room_databases_and_compose"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap50AnOverviewOfAndroidSQLiteDatabases"
            android:exported="false"
            android:label="@string/title_activity_chap50_an_overview_of_android_sqlite_databases"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap49AComposeViewModelTutorial"
            android:exported="false"
            android:label="@string/title_activity_chap49_acompose_view_model_tutorial"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap48WorkingWithViewModelsInCompose"
            android:exported="false"
            android:label="@string/title_activity_chap48_working_with_view_models_in_compose"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap47CanvasGraphicsDrawingIncompose"
            android:exported="false"
            android:label="@string/title_activity_chap47_canvas_graphics_drawing_incompose"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap46ComposeStateDrivenAnimation"
            android:exported="false"
            android:label="@string/title_activity_chap46_compose_state_driven_animation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap45ComposeVisibilityAnimation"
            android:exported="false"
            android:label="@string/title_activity_chap45_compose_visibility_animation"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap44VerticalPagerAndHorizontalPager"
            android:exported="false"
            android:label="@string/title_activity_chap44_vertical_pager_and_horizontal_pager"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap43AComposeLazyStaggeredGridTutorial"
            android:exported="false"
            android:label="@string/title_activity_chap43_acompose_lazy_staggered_grid_tutorial"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap42LazyListStickyHeadersAndScrollDetection"
            android:exported="false"
            android:label="@string/title_activity_chap42_lazy_list_sricky_headers_and_scroll_detection"
            android:theme="@style/Theme.ComposeDemo"
            tools:ignore="MissingClass"/>
        <activity
            android:name=".Chap41DesigningAdaptableListDetailLayouts"
            android:exported="false"
            android:label="@string/title_activity_chap41_designing_adaptable_list_detail_layouts"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap40AComposeLazyListTutorial"
            android:exported="false"
            android:label="@string/title_activity_chap40_acompose_lazy_list_tutorial"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap39AComposeRowandColumnList"
            android:exported="false"
            android:label="@string/title_activity_chap39_acompose_rowand_column_list"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap38AnOverviewOfListsAndGrids"
            android:exported="false"
            android:label="@string/title_activity_chap38_an_overview_of_lists_and_grids"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap37CoroutinesAndLaunchedEffects"
            android:exported="false"
            android:label="@string/title_activity_chap37_coroutines_and_launched_effects"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap36IntrinsincSizeInCompose"
            android:exported="false"
            android:label="@string/title_activity_chap36_intrinsinc_size_in_compose"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap35WorkingWithConstraintLayoutInCompose"
            android:exported="false"
            android:label="@string/title_activity_chap35_working_with_constraint_layout_in_compose"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap34ConstraintLayoutInCompose"
            android:exported="false"
            android:label="@string/title_activity_chap34_constraint_layout_in_compose"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap33BuildingCustomLayout"
            android:exported="false"
            android:label="@string/title_activity_chap33_building_custom_layout"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap32CustomLayoutModifiers"
            android:exported="false"
            android:label="@string/title_activity_chap32_custom_layout_modifiers"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap31FlowRowAndFlowColumnTutorial"
            android:exported="false"
            android:label="@string/title_activity_chap31_flow_row_and_flow_column_tutorial"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap30IntroToFlowRowAndFlowColumn"
            android:exported="false"
            android:label="@string/title_activity_chap30_intro_to_flow_row_and_flow_column"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap29BoxLayoutsInCompose"
            android:exported="false"
            android:label="@string/title_activity_chap29_box_layouts_in_compose"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap28ComposingLayoutsWithRowAndColumn"
            android:exported="false"
            android:label="@string/title_activity_chap28_composing_layouts_with_row_and_column"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap27AnnotatedStringsEtBrushStyles"
            android:exported="false"
            android:label="@string/title_activity_chap27_annotated_strings_et_brush_styles"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap26UsingModifiersInCompose"
            android:exported="false"
            android:label="@string/title_activity_chap26_using_modifiers_in_compose"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap25ComposeSlotAPITutorial"
            android:exported="false"
            android:label="@string/title_activity_chap25_compose_slot_apitutorial"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap24ComposeSlotAPIs"
            android:exported="false"
            android:label="@string/title_activity_chap24_compose_slot_apis"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap23IntrotoCompositionLocal"
            android:exported="false"
            android:label="@string/title_activity_chap23_introto_composition_local"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".Chap22ComposeStateAndRecomposition"
            android:exported="false"
            android:label="@string/title_activity_chap22_compose_state_and_recomposition"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".PlayGroundActivity"
            android:exported="false"
            android:label="@string/title_activity_play_ground"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeDemo" />
    </application>

</manifest>